/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: GENBANK_TO_FASTA {
        publishDir = [
            path: { "${params.outdir}/genbank_to_fasta" },
            mode: params.publish_dir_mode,
            pattern: "*.{fasta,gff}"
        ]
    }  

    withName: FASTQC_RAW {
        ext.prefix = { "${meta.id}.raw" }
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/fastqc" },
            mode: params.publish_dir_mode,
            pattern: "*.{zip,html}"                    
        ]
    }

    withName: FASTQC_TRIMMED {
        ext.prefix = { "${meta.id}.trim" }
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/fastqc" },
            mode: params.publish_dir_mode,
            pattern: "*.{zip,html}" 
        ]
    }    

    withName: BBDUK_R {
        ext.prefix = { "${meta.id}.trimmed_r" }
        ext.args = 'ref=adapters,artifacts k=21 ktrim=r mink=4 hdist=2 tpe tbo'
        /*
        publishDir = [
            path: { "${params.outdir}/bbduk_r" },
            mode: params.publish_dir_mode,
            pattern: "*.{gz,log}"
        ]
        */
    }

    withName: BBDUK_L {
        ext.prefix = { "${meta.id}.trimmed_lr" }
        ext.args = 'ref=adapters,artifacts k=21 ktrim=l mink=4 hdist=2 tpe tbo'
        /*
        publishDir = [
            path: { "${params.outdir}/bbduk_lr" },
            mode: params.publish_dir_mode,
            pattern: "*.{gz,log}"
        ]
        */
    }     

    withName: BBDUK_Q {
        ext.prefix = { "${meta.id}.preprocessed" }
        ext.args = 'qtrim=rl trimq=20 maq=10 minlen=50 trimpolyg=24'
        publishDir = [
            path: { "${params.outdir}/bbduk_q" },
            mode: params.publish_dir_mode,
            pattern: "*.{gz,log}"
        ]
    }

    withName: BOWTIE2_BUILD_REFERENCE {
        publishDir = [
            path: { "${params.outdir}/bowtie2_ref" },
            mode: params.publish_dir_mode
        ]
    }    

    withName: BWA_INDEX {
        publishDir = [
            path: { "${params.outdir}/bwa_index_ref" },
            mode: params.publish_dir_mode
        ]
    }    

    withName: BOWTIE2_ALIGN_REFERENCE {
        ext.args = '--no-unal --local --very-sensitive-local --seed 1'
        ext.args2 = '-F4 -bhS'
        ext.prefix = { "${meta.id}.ref_aligned_sorted" }        
        publishDir = [
            path: { "${params.outdir}/reference_aligned" },
            mode: params.publish_dir_mode,
            pattern: "*{sorted.bam,.log}"
        ]        
    }

    withName: BOWTIE2_ALIGN_HOST_REFERENCE {
        ext.args = '--no-unal --local --very-sensitive-local --seed 1'
        ext.args2 = '-F4 -bhS'
        ext.prefix = { "${meta.id}.sorted" }        
        publishDir = [
            path: { "${params.outdir}/host_removed" },
            mode: params.publish_dir_mode,
            pattern: "*.{fastq.gz,log}"
        ]        
    }

    withName: SRA_SCRUB_HUMAN {
        publishDir = [
            path: { "${params.outdir}/human_scrubber" },
            mode: params.publish_dir_mode,
            pattern: "*scrubbed*.gz"
        ]
    }        

    withName: BBMAP_DEDUPE {
        publishDir = [
            path: { "${params.outdir}/deduped" },
            mode: params.publish_dir_mode,
            pattern: "*.{gz,log}"
        ]                
    }

    withName: SPADES {
        errorStrategy = 'ignore'
        publishDir = [
            path: { "${params.outdir}/spades" },
            mode: params.publish_dir_mode,
            pattern: "*.{gz,log}"
        ]
    }   

    withName: UNICYCLER {
        ext.args = '--mode bold'
        errorStrategy = 'ignore'
        publishDir = [
            path: { "${params.outdir}/unicycler" },
            mode: params.publish_dir_mode,
            pattern: "*.{gz,log}"
        ]
    }   

    withName: GET_BEST_REFERENCE {
        errorStrategy = 'ignore'
        publishDir = [
            path: { "${params.outdir}/best_reference" },
            mode: params.publish_dir_mode,
            pattern: "{*.json,region_*.fasta,*.gb,*.log}"
        ]
    }   

    withName: MUGSY {
        errorStrategy = 'ignore'
        publishDir = [
            path: { "${params.outdir}/mugsy" },
            mode: params.publish_dir_mode,
            pattern: "*{.maf,.log,.sam,.bam,*.fasta}"
        ]
    }

    withName: LAST_MAFCONVERT {
        ext.prefix = { "${meta.id}_aligned_scaffolds_nonzero_ref" }
        ext.args = '-d'
    }      

    withName: SAMTOOLS_VIEW_ALIGNED {
        ext.prefix = { "${meta.id}_aligned_scaffolds_nonzero_ref" }
        ext.args = '-bS --output-fmt bam'
        publishDir = [
            path: { "${params.outdir}/samtools_scaffold_view" },
            mode: params.publish_dir_mode,
            pattern: "*.{bam}"
        ]
    }   

    withName: SAMTOOLS_SORT_ALIGNED {
        ext.prefix = { "${meta.id}_aligned_scaffolds_nonzero_ref_sorted" }
        publishDir = [
            path: { "${params.outdir}/samtools_scaffold_sort" },
            mode: params.publish_dir_mode,
            pattern: "*.{bam}"
        ]
    }

    withName: MAKE_REFERENCE {
        errorStrategy = 'ignore'
        publishDir = [
            path: { "${params.outdir}/make_reference" },
            mode: params.publish_dir_mode,
            pattern: "*.{fasta}"
        ]
    }

    withName: BOWTIE2_ALIGN_NEW_REFERENCE {
        ext.args = '--local --very-sensitive-local --seed 1'
        ext.args2 = '-F4 -bhS'
        publishDir = [
            path: { "${params.outdir}/align_new_ref" },
            mode: params.publish_dir_mode,
            pattern: "*.{bam,txt}"
        ]        
    }

    withName: BOWTIE2_ALIGN_FINAL_REFERENCE {
        ext.args = '--local --very-sensitive-local --seed 1'
        ext.args2 = '-F4 -bhS'
        ext.prefix = { "${meta.id}_reads_map_to_${meta.id}_ivar_final_consensus" }        
        publishDir = [
            path: { "${params.outdir}/align_final_ref" },
            mode: params.publish_dir_mode,
            pattern: "*.{bam,txt}"
        ]        
    }

    withName: BWA_MEM_ALIGN_NEW_REF {
        ext.prefix = { "${meta.id}_new_ref" }
        publishDir = [
            path: { "${params.outdir}/align_new_ref" },
            mode: params.publish_dir_mode,
            pattern: "*.{bam,txt}"
        ]
    }    

    withName: IVAR_CONSENSUS {
        publishDir = [
            path: { "${params.outdir}/final_consensus" },
            mode: params.publish_dir_mode,
            pattern: "*.{fasta,bed}"
        ]
    }   

    withName: IVAR_VARIANTS {
        publishDir = [
            path: { "${params.outdir}/variants" },
            mode: params.publish_dir_mode,
            pattern: "*.{tsv}"
        ]
    }

    withName: FORMAT_VARIANTS {
        publishDir = [
            path: { "${params.outdir}/variants" },
            mode: params.publish_dir_mode,
            pattern: "*.{tsv}"
        ]
    }    

    withName: BWA_MEM_ALIGN_FINAL_CONSENSUS {
        ext.prefix = { "${meta.id}_final_consensus" }
        publishDir = [
            path: { "${params.outdir}/align_final_consensus" },
            mode: params.publish_dir_mode,
            pattern: "*.{bam,txt}"
        ]
    }    

    /*
    withName: BOWTIE2_BUILD_NEW_REFERENCE {
        publishDir = [
            path: { "${params.outdir}/bowtie2_new_ref" },
            mode: params.publish_dir_mode
        ]
    }

    withName: '.*:FASTQ_ALIGN_BOWTIE2_NEW_REF:BOWTIE2_ALIGN' {
        ext.args = '--local --very-sensitive-local --seed 1'
        ext.args2 = '-F4 -bhS'
    }

    withName: '.*:FASTQ_ALIGN_BOWTIE2_NEW_REF:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}.new_ref.sorted" }
        publishDir = [
            path: { "${params.outdir}/bowtie2_new_ref" },
            mode: params.publish_dir_mode,
            pattern: "*.sorted.bam"
        ]
    }

    withName: '.*:FASTQ_ALIGN_BOWTIE2_NEW_REF:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:.*' {
        ext.prefix = { "${meta.id}.new_ref.sorted.bam" }
        publishDir = [
            path: { "${params.outdir}/bowtie2_new_ref/samtools_stats" },
            mode: params.publish_dir_mode,
            pattern: "*.{stats,flagstat,idxstats}"
        ]
    }

    withName: GENERATE_CONSENSUS {
        publishDir = [
            path: { "${params.outdir}/generate_consensus" },
            mode: params.publish_dir_mode,
            pattern: "*{final_consensus.fasta,.csv}"
        ]
    }
    */

	withName: SUMMARY {
        errorStrategy = 'ignore'
		publishDir =[
			path: { "${params.outdir}/summary" },
			mode: params.publish_dir_mode,
			pattern: "*.summary.tsv"
		]
	}

	withName: SUMMARY_FAILED {
        errorStrategy = 'ignore'
		publishDir =[
			path: { "${params.outdir}/summary_failed" },
			mode: params.publish_dir_mode,
			pattern: "*.summary.tsv"
		]
	}    

	withName: CLEANUP {
		publishDir = [
			path: { "${params.outdir}" },
			mode: params.publish_dir_mode,
			pattern: "summary.tsv"
		]
	}

	withName: CLEANUP_FAILED {
		publishDir = [
			path: { "${params.outdir}" },
			mode: params.publish_dir_mode,
			pattern: "summary_failed.tsv"
		]
	}    

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}

 